.box img{
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
h1{
font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center; 
  font-size: 150px;
  font-weight:300; 

}
button{
    background-color: #9BA8EA ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%; 
    font-size: 150;
      }

.container{
      position: relative;
      justify-content: center;
      margin: 5%;
  } 
  .container1{
          display: block;
          width: 100%;
  }
    

    
