h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
       text-align: center;
       font-size: 150px;
       font-weight:300;
       color:black;
     
    }

    .box img{
        width: 100%;
        height: auto;
      }
      @supports(object-fit: cover){
          .box img{
            height: 100%;
            object-fit: cover;
            object-position: center center;
          }
      }