.box img{
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

h1{
font-family: Georgia, 'Times New Roman', Times, serif;
 text-align: center; 
font-size: 70px;
font-weight: 70;
} 
p{
    margin-top: 10%;
    text-align: initial;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

button{
  background-color: white ;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%; 
  font-size: 150;
    }

.container{
    position: relative;
    justify-content: center;
    margin: 5%; 
    display: block;
}  


.boton{
  margin-left: auto;
  margin-right: auto;
} 