img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
} 

button{
  background-color: #9BA8EA ;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%; 
  font-size: 150;
    } 

h3{
   text-align: center;
   margin: auto;
   font-family: Georgia, 'Times New Roman', Times, serif;

}
.boton{
margin-left: auto;
margin-right: auto;
}  
.box img{
width: 100%;
height: auto;
}
@supports(object-fit: cover){
  .box img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
